# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/

# =========================
# Environment Variables
# =========================
.env
*.env

# =========================
# Airflow
# =========================
airflow.cfg
airflow.db
airflow-webserver.pid
logs/
standalone_admin_password.txt

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PostgreSQL / DB Dumps
# =========================
*.sql
*.dump

# =========================
# Build / Cache
# =========================
dist/
build/
.cache/

# =========================
# Node Modules (if added later)
# =========================
node_modules/

# =========================
# Temporary Files
# =========================
*.log
tmp/
temp/

# =========================
# Power BI Temporary Files
# =========================
*.pbix.autosave

# =========================
# Python Testing
# =========================
.pytest_cache/
.coverage
htmlcov/